<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tempo</title>
    <link rel="icon"
     type="image/png"
     href="<%= image_url('favicon.png')%>">
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
