$aqua-blue: rgba(23, 153, 193, 1);
$aqua-blue-transparent: rgba(23, 153, 193, 0.7);
$aqua-blue-more-transparent: rgba(23, 153, 193, 0.3);
$aqua-blue-most-transparent: rgba(23, 153, 193, 0.15);

$color1: rgba(36, 53, 56, 1);
$color2: rgba(39, 35, 32, 1);
$color3: rgba(190, 197, 173, 1);
$color4: rgba(164, 180, 148, 1);
$color5: rgba(81, 152, 114, 1);
