.col {
  display: inline-block;
}

.col-1 {
  width: 1 / 12 * 100%;
}

.col-2 {
  width: 2 / 12 * 100%;
}

.col-3 {
  width: 3 / 12 * 100%;
}

.col-4 {
  width: 4 / 12 * 100%;
}

.col-5 {
  width: 5 / 12 * 100%;
}

.col-6 {
  width: 6 / 12 * 100%;
}

.col-7 {
  width: 7 / 12 * 100%;
}

.col-8 {
  width: 8 / 12 * 100%;
}

.col-9 {
  width: 9 / 12 * 100%;
}

.col-10 {
  width: 10 / 12 * 100%;
}

.col-11 {
  width: 11 / 12 * 100%;
}

.col-12 {
  width: 12 / 12 * 100%;
}

.col-offset-1 {
  margin-left: 1 / 12 * 100%;
}

.col-offset-2 {
  margin-left: 2 / 12 * 100%;
}

.col-offset-3 {
  margin-left: 3 / 12 * 100%;
}

.col-offset-4 {
  margin-left: 4 / 12 * 100%;
}

.col-offset-5 {
  margin-left: 5 / 12 * 100%;
}

.col-offset-6 {
  margin-left: 6 / 12 * 100%;
}

.col-offset-7 {
  margin-left: 7 / 12 * 100%;
}

.col-offset-8 {
  margin-left: 8 / 12 * 100%;
}

.col-offset-9 {
  margin-left: 9 / 12 * 100%;
}

.col-offset-10 {
  margin-left: 10 / 12 * 100%;
}

.col-offset-11 {
  margin-left: 11 / 12 * 100%;
}

.col-offset-12 {
  margin-left: 12 / 12 * 100%;
}
