.album-index {
  color: white;
  // width: 95vw;
  // height: 100vh;
  padding: 20px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.album-index-item {
  box-sizing: border-box;
  // display: relative;
  display: block;
  height: 20vh;
  width: 20vh;
  text-align: center;
  align-items: center;
  margin: 20px 20px;

  img {
    height: 20vh;
    width: 20vh;
    margin: 0 auto;
  }

  h4 {
    font-size: 10px;
  }
}

.album-index-play, .album-index-queue {
  background: transparent;
  position: relative;
  top: -6vh;
  width: 10%;
  height: 10%;
  font-size: 3em;
  opacity: 0.4;
  color: $color5;
}

.album-index-play:hover, .album-index-queue:hover {
  opacity: 0.9;
}

.album-index-play {
  left: 4vh;
}

.album-index-queue {
  right: 5vh;
}
