@keyframes rippleAnimation {
    from {
      // transform: scale(1.2);
      opacity: 0;
    }
    to {
      // transform: scale(1);
      opacity: 1;
    }
}


.artist-detail {
  color: white;

  -webkit-animation-name: rippleAnimation;

          animation-name: rippleAnimation;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.artist-detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px;
  width: 100%;
  position: relative;
  background: $background-gradient-transparent-to-black;
}


.artist-detail-name {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.artist-detail-image {
  img {
    border-radius: 500px;
    height: 300px;
    width: 300px;
  }
}

.artist-detail-album-list {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3vw;
}

.artist-detail-album {
  width: 600px;
}

.artist-detail-album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0 20px 10px;
}

.artist-detail-album-image {
  padding-right: 20px;

  img {
    height: 50px;
    width: 50px;
  }
}

.artist-detail-album-song {
  margin: 5px;

  button {
    margin-left: 5px;
    margin-right: 5px;
  }
}
