$hover-opacity: 0.7;

.artist-index {
  display: flex;
  justify-content: space-around;
  padding: 50px;

  div {
    background: $aqua-blue-super-transparent;
    padding: 15px;
    border-radius: 2px;

    img {
      height: 200px;
      width: 200px;
      border-radius: 200px;
    }

    // img:hover {
    //   opacity: $hover-opacity;
    // }

    span {
      padding-top: 5px;
      display: block;
      color: white;
      text-align: center;
    }

    // span:hover {
    //   opacity: $hover-opacity;
    // }
  }

  div:hover {
    background: $aqua-blue-most-transparent;
  }
}
