@keyframes fadeIn {
  0% {
    background-color: none;
    opacity: 0;
  }

  100% {
    background: $background-gradient-transparent-to-black;
    opacity: 1;
  }
}

.browse {
  box-sizing: padding-box;
  padding: 20px 50px;
  height: 100vh;
  width: 95vw;
  overflow-y: auto;
  overflow-x: hidden;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  div a {
    color: white;
    font-size: 5vh;
    text-decoration: underline;
  }
}

.browse-songs {
  .song-index {
    height: 14vh;
    background: none;
  }
}

.browse-albums {
  .album-index {
    height: 24vh;
    background: none;
  }
}
