@keyframes fadeIn {
  0% {
    background-color: none;
    opacity: 0;
  }

  100% {
    background: $background-gradient-transparent-to-black;
    opacity: 1;
  }
}

.browse {
  // box-sizing: padding-box;
  padding: 20px 0px 20px 50px;
  height: 100vh;
  width: 95vw;
  overflow-y: auto;
  overflow-x: hidden;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}

.browse-navbar {
  width: 100%;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 20px;

  a {
    width: 25%;
    height: 5vh;
    text-align: center;
  }
  a:hover {
    color: $aqua-blue;
    font-size: 25px;
  }
}

.browse-main {
  height: 90vh;
  width: 100%;
  // overflow: hidden;
  // overflow-y: scroll;
}
