.current-user-profile {
  color: white;
  padding: 50px;
  font-size: 2em;
  overflow-x: hidden;
  height: 100vh;
  width: 95vw;
  background: $background-gradient-transparent-to-black;
}

.current-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  .current-user-greeting {
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  img {
    height: 300px;
    width: 300px;
    border-radius: 500px;
    background: white;
  }

  button {
    height: 50px;
    width: 250px;
  }
}

.current-user-actions {
  font-size: 12px;

  button {
    border: 1px solid black;
    background-color: white;
    color: $aqua-blue;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px black;
  }

  button:hover {
    color: white;
    background: $aqua-blue;
  }
}

.current-user-playlists {
  font-size: 20px;
  width: 70%;

  .playlist-index {
    height: auto;
    width: 100%;
    margin-top: 20px;

    h1 {
      margin-bottom: 10px;
    }
  }

  .playlist-index-item {
    height: 6vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .playlist-index-item:first-child {
    border-top: 3px solid black;
  }

  img {
    height: 4vh;
    width: 4vh;
  }

  i {
    font-size: 20px;
  }
}
