.current-user-profile {
  color: white;
  padding: 50px;
  font-size: 2em;
  overflow-x: hidden;
  height: 100vh;
  background-color: $background-gradient-transparent-to-black;
}

.current-user-info {
  display: flex;
  flex-direction: row;

  .current-user-greeting {
    padding-left: 30px;
    display: flex;
    align-items: flex-end;
  }

  img {
    height: 300px;
    width: 300px;
    border-radius: 500px;
    background: white;
  }

  button {
    height: 50px;
  }
}

.current-user-actions {
  font-size: 12px;

  button {
    border: 1px solid black;
    background-color: white;
    color: $aqua-blue;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px black;
  }

  button:hover {
    color: white;
    background: $aqua-blue;
  }
}

.current-user-playlists {
  // overflow-x: hidden;

  .playlist-index {
    height: auto;
    width: 100%;
  }

  i {
    font-size: 40px;
    top: -12vh;
  }
}
