.errors-box {
  width: 30vw;
  margin: 0 auto;
  position: absolute;
  top: 10vh;
  left: 35vw;
}

.form-errors {
  display: block;
  margin: 0 auto;

  li:first-child {
    margin: 0 auto;
  }

  li {
    margin: 5px auto;
    background: rgba(242, 222, 222, 0.6);
    color: #A94442;
    height: 25px;
    border-radius: 10px;
    line-height: 25px;
    padding-left: 10px;
  }
}
