.form-errors {
  width: 20%;
  margin: 0 auto;

  li {
    margin: 5px auto;
    background: #F2DEDE;
    color: #A94442;
    height: 25px;
    border-radius: 10px;
    line-height: 25px;
    padding-left: 10px;
  }
}
