.form {
  display: block;
  width: 20vw;
  background: $aqua-blue-more-transparent;
  padding: 20px;
  border-radius: 8px;
  color: white;
  position: absolute;
  top: 20vh;
  left: 40vw;
}

.form-input {
  border-bottom: 1px solid #7c7c7c;
}

.form-input:focus {
  border-bottom: 1px solid #0e9ef7;
}

.form-input, .form-label, .form-button {
  display: block;
  width: 100%;
  padding-top: 10px;
}

.form-input {

}

.form-label {

}

.form-span {
  padding-top: 5px;
  display: block;
  width: 100%;
  font-size: 0.9em;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  p {
    display: block;
    margin-right: 15px;
  }

  a {
    color: #0c173f;
  }

  a:hover {
    text-decoration: underline;
  }
}

.form-button {
  background-color: white;
  width: 30%;
  padding: 5px 0;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px black;
  border-radius: 20px;
  color: $aqua-blue;
}

.form-button:hover {
  background-color: $aqua-blue;
  color: white;
}

.form-button:active {
  box-shadow: none;
  background-color: $aqua-blue;
  transform: translateY(3px);
}
