.main {
  background-image: url('http://res.cloudinary.com/davidhu2000/image/upload/v1484164795/splash_rl4wle.jpg');
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
