$bg-1-4: #143313;
$bg-2-4: #1A5A35;
$bg-3-4: #218E93;
$bg-4-4: #082A33;
$line-height: 8vh;
$logo-height: 6vh;

$btn-green: #1E5D28;
$btn-blue: #175868;

.navbar {
  position: absolute;
  width: 100%;
  height: $line-height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: $aqua-blue-more-transparent;
  color: #dddddd;
  box-shadow: 0 0 30px black;
}

.navbar-header h1 {
  line-height: $line-height;
  display: block;
  margin-left: 15px;
  padding-left: 17vw;
  font-size: 2em;
  text-shadow: 3px 3px 3px black;
}

.navbar-logo {
  position: relative;
  display: block;
  width: $line-height;
  line-height: $line-height;
  vertical-align: middle;
}

.navbar-logo-icon {
  position: absolute;
  height: $logo-height;
  width: $logo-height;
  top: ($line-height - $logo-height) / 2;
  left: ($line-height - $logo-height) / 2;
  vertical-align: middle;
}

.navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .navbar-button {
    margin: 0 15px;
    width: 80px;


    a {
      display: block;
      margin: 0 auto;
      font-size: 20px;
      padding: 5px 8px;
      width: 90px;
      color: white;
      text-shadow: 0.5px 0.5px 0.5px $aqua-blue;
      text-align: center;
      border: 1px solid black;
      box-shadow: 2px 2px 2px #132B11;
    }

    a:hover {
      background-color: $aqua-blue;
      color: white;
    }

    a:active {
      background: #175868;
      box-shadow: none;
      -webkit-transform: translateY(2px);
              transform: translateY(2px);
    }

  }

}
