.playlist-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.playlist-detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.playlist-detail-title {
  color: white;
  display: block;
  font-size: 2em;
  padding-left: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

.playlist-detail-image {
  height: 300px;
  width: 300px;
  background: white;

  img {
    height: 300px;
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.playlist-detail-song-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playlist-detail-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;

  li {
    margin: 5px;

    * {
      margin-right: 5px;
    }
  }
}

.playlist-detail-play-playlist-button {
  background: $color5;
  cursor: pointer;
  width: 15vw;
  font-size: 60%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid black;
  height: 50px;
  display: block;
  padding: 3px 15px 3px 20px;
  cursor: pointer;
}

.playlist-detail-play-playlist-button:hover {
  background-color: $play-button-color;
}

.playlist-detail-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.playlist-detail-button {
  display: block;
  font-size: 16px;
  width: 10vw;
  margin: 5px;
  color: $aqua-blue-transparent;
}

.playlist-detail-button:hover {
  color: white;
}
