.playlist-detail {
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  justify-content: flex-start;
}

.playlist-detail-info {
  display: flex;

  flex-direction: row;
  // justify-content: center;
  align-items: flex-start;
}

.playlist-detail-title {
  color: white;
  display: block;
  font-size: 2em;
  padding-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;

  button {
    // font-size: 12px;
    // width: 80px;
  }
}

.playlist-detail-image {
  height: 300px;
  width: 300px;
  background: white;

  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}

.playlist-detail-song-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.playlist-detail-songs {
  display: flex;
  flex-direction: column;
  color: white;

  li {
    margin: 5px;

    * {
      margin-right: 5px;
    }
  }
}

.playlist-detail-play-playlist-button {
  background: $color5;
  cursor: pointer;
  width: 15vw;
  font-size: 60%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid black;
  height: 50px;
  display: block;
  padding: 3px 15px 3px 20px;
  cursor: pointer;
}

.playlist-detail-play-playlist-button:hover {
  background-color: $play-button-color;
}

.playlist-detail-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.playlist-detail-button {
  // border: 1px solid black;
  display: block;
  font-size: 16px;
  width: 10vw;
  // text-align: center;
  margin: 5px;
  color: $aqua-blue-transparent;
}

.playlist-detail-button:hover {
  color: white;
}
