@-webkit-keyframes slideOut {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes slideOut {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.playlist-form {
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 0px 10px black;
  right: 6vw;
  top: 10vh;
  height: 80vh;
  width: 30vw;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  -webkit-animation-name: slideOut;

          animation-name: slideOut;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pick-playlist {
  position: absolute;
  height: 10vh;
  width: 20vw;
  top: 50vh;
  left: 30vw;

  select {
    color: white;
    background: rgba(0,0,0,0.9);
    width: 100%;
    font-size: 15px;

    option {
      text-align: center;
    }
  }
}

.playlist-form-button {
  margin-top: 20px;
  color: $aqua-blue-transparent;
}

.playlist-form-button:hover {
  color: $aqua-blue;
  text-decoration: underline;
}
