@keyframes slideUp {
  0% {
    opacity: 0;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 30px;
  }
}

.popup-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 20px;
  top: 30px;
}

.popup {
  margin-bottom: 20px;
  background-color: $color3;
  color: $aqua-blue;
  width: 20vw;
  padding: 20px;
  border-right: 20px solid rgba(155,155,155,0.8);
  box-shadow: 3px 3px 5px $color3;

  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
