@keyframes slideOutLeft {
  0% {
    opacity: 0;
    width: 0vw;
  }

  100% {
    opacity: 1;
    width: 30vw;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    width: 30vw;
  }

  100% {
    opacity: 0;
    width: 0vw;
  }
}

.search {
  box-shadow: 2px 2px 3px black;
  color: white;
  position: absolute;
  left: 5vw;
  height: 80vh;
  z-index: 100;
  background: rgba(0,0,0, 0.95);
  padding: 20px;

  animation-name: slideOutLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

}

.search-list {
  padding-top: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  a {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
  }

  a:hover {
    background: $aqua-blue-more-transparent;
  }
}

.search-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  input {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    width: 80%;
    margin: 0 auto;
    border: 2px solid $aqua-blue-transparent;
    border-radius: 20px;
    margin-right: 10px;
    padding: 3px 5px 3px 30px;
    flex-grow: 2;
    background-image: url('https://res.cloudinary.com/davidhu2000/image/upload/v1484176608/search_icon_czswj4.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
  }

  input:focus {
    border: 2px solid $aqua-blue;
  }
}

.visible {
  visibility: visible;
}
