$sidebar-width: 5vw;
$icon-width: 2vw;
$logo-width: 3.5vw;

.sidebar {
  width: $sidebar-width;
  min-width: 40px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: -webkit-pointer;
  cursor: pointer;

  text-align: -webkit-center;

  a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 40px;
    height: $sidebar-width;
    text-align: center;
    text-align: -webkit-center;
    line-height: $sidebar-width;
    color: white;
    background-color: $aqua-blue-most-transparent;
    cursor: pointer;
  }

  a:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
    background-color: $aqua-blue-more-transparent;
    border-left: 2px solid $color4;
  }

  a:active {
    background-color: gray;
  }

  .sidebar-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: $sidebar-width;
    padding: 0;
    margin: 0;

    .sidebar-logo-icon {
      position: absolute;
      height: $logo-width;
      width: $logo-width;
      min-width: 15px;
      min-height: 15px;
      top: ($sidebar-width - $logo-width) / 2;
      left: ($sidebar-width - $logo-width) / 2;
    }
  }

  .sidebar-menu {
    background-color: $aqua-blue-most-transparent;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }

}

.sidebar-browse {
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content:center;

    img {
      -webkit-filter: invert(30%);
              filter: invert(30%);
      width: $icon-width;
      min-width: 15px;
      margin: 0 auto;
      padding: 0;
    }

    span {
      text-align: center;
      font-size: 1vw;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
    }
  }
}

.sidebar-profile {
  padding-bottom: 30px;

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    background: none;

    img {
      -webkit-filter: invert(30%);
              filter: invert(30%);
      width: $icon-width;
      margin: 0 auto;
      padding: 0;
      border-radius: 50px;
      background-color: white;
    }

    span {
      text-align: center;
      font-size: 0.8em;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }

  a:hover {
    -webkit-transform: none;
            transform: none;
    background: none;
    border: none;
  }

  .sidebar-logout {
    display: block;
    margin: 5px auto;
    font-size: 1vw;
    border-radius: 3px;
    border: 1px solid #353535;
    padding: 3px 8px;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.7);
    box-shadow: 2px 2px 2px #132B11;
    width: 100%;
  }

  .sidebar-logout:hover {
    background: $aqua-blue;
    color: black;
  }
}
