$sidebar-width: 5vw;
$icon-width: 2vw;

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  // background: $aqua-blue-most-transparent;

  a {
    transition: 0.5s;
    box-sizing: border-box;
    // border: 1px solid black;
    display: block;
    width: 100%;
    height: $sidebar-width;
    text-align: center;
    line-height: $sidebar-width;
    color: white;
    background-color: $aqua-blue-most-transparent;
  }

  a:hover {
    transition: 0.4s;
    transform: translateX(8px);
    background-color: $aqua-blue-most-transparent;
    // border-right: 2px solid $color4;
    // border-top: 2px solid $color4;
    border-bottom: 2px solid $color4;
    // box-shadow: inset 0 0 10px black;
  }

  .sidebar-logo {
    display: block;
    height: $sidebar-width;
    padding: 0;
    margin: 0;
  }

  .sidebar-menu {
    height: 70vh;
    background-color: $aqua-blue-most-transparent;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}

.sidebar-browse {
  a {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;

    img {
      filter: invert(30%);
      width: $icon-width;
      margin: 0 auto;
      padding: 0;
    }

    span {
      text-align: center;
      font-size: 0.8em;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }
}

.sidebar-profile {
  padding-bottom: 30px;

  a {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background: none;

    img {
      filter: invert(30%);
      width: $icon-width;
      margin: 0 auto;
      padding: 0;
      border-radius: 50px;
    }

    span {
      text-align: center;
      font-size: 0.8em;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }

  a:hover {
    transform: none;
    background: none;
    border: none;
  }

  .sidebar-logout {
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #353535;
    padding: 5px 8px;
    color: $aqua-blue;
    text-align: center;
    background: white;
    box-shadow: 2px 2px 2px #132B11;
  }

  .sidebar-logout:hover {
    background: $aqua-blue;
    color: white;
  }
}
