$sidebar-width: 5vw;
$icon-width: 2vw;
$logo-width: 3.5vw;

.sidebar {
  width: $sidebar-width;
  height: 100vh;

  a {
    transition: 0.5s;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: $sidebar-width;
    text-align: center;
    line-height: $sidebar-width;
    color: white;
    background-color: $aqua-blue-most-transparent;
  }

  a:hover {
    transition: 0.4s;
    transform: translateX(8px);
    background-color: $aqua-blue-most-transparent;
    border-bottom: 2px solid $color4;
  }

  .sidebar-logo {
    position: relative;
    display: block;
    height: $sidebar-width;
    padding: 0;
    margin: 0;

    .sidebar-logo-icon {
      position: absolute;
      height: $logo-width;
      width: $logo-width;
      top: ($sidebar-width - $logo-width) / 2;
      left: ($sidebar-width - $logo-width) / 2;
    }
  }

  .sidebar-menu {
    height: 100vh * (1 - 0.295);
    background-color: $aqua-blue-most-transparent;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}

.sidebar-browse {
  a {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;

    img {
      filter: invert(30%);
      width: $icon-width;
      margin: 0 auto;
      padding: 0;
    }

    span {
      text-align: center;
      font-size: 0.8em;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }
}

.sidebar-profile {
  padding-bottom: 30px;

  a {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background: none;

    img {
      filter: invert(30%);
      width: $icon-width;
      margin: 0 auto;
      padding: 0;
      border-radius: 50px;
    }

    span {
      text-align: center;
      font-size: 0.8em;
      display:inherit;
      line-height: normal;
      margin: 0 auto;
      padding-top: 5px;
      padding-bottom: 15px;
    }
  }

  a:hover {
    transform: none;
    background: none;
    border: none;
  }

  .sidebar-logout {
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #353535;
    padding: 5px 8px;
    color: $aqua-blue;
    text-align: center;
    background: white;
    box-shadow: 2px 2px 2px #132B11;
  }

  .sidebar-logout:hover {
    background: $aqua-blue;
    color: white;
  }
}
