.song-index {
  color: white;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.song-index-item:first-child {
  border-top: 3px solid black;
}

.song-index-item {
  padding: 5px;
  border-bottom: 3px solid black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  display: block;
  height: 6vh;

  .song-index-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    * {
      margin-right: 15px;
    }

    button {
      visibility: hidden;
    }

    img {
      height: 4vh;
      width: 4vh;
      display: block;
    }

    span {
      display: block;
      font-size: 15px;
    }

    p {
      line-height: 4vh;
    }
  }
}

.song-index-item:hover {
  background: rgba(0, 0, 0, 0.5);
  button {
    visibility: visible;
  }
}

.song-index-play, .song-index-queue, .song-index-playlist  {
  background: transparent;
  position: relative;
  font-size: 1em;
  opacity: 0.4;
  color: $color5;

  span {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    visibility: hidden;
    white-space: nowrap;
    position: absolute;
    font-size: 20px;
    top: -2.5vh;
    padding: 5px;
    text-transform: uppercase;
  }


}

.song-index-play:hover, .song-index-queue:hover, .song-index-playlist:hover {
  opacity: 0.9;

  span {
    visibility: visible;
  }
}

.song-index-play {
  margin-left: 15px;
}
