.song-index {
  color: white;
  width: 95vw;
  height: 100vh;
  padding: 20px 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.song-index-item {
  box-sizing: border-box;
  // display: relative;
  margin: 15px;
  display: block;
  height: 10vh;
  width: 10vh;
  text-align: center;
  align-items: center;
  box-shadow: 3px 3px 5px black;

  img {
    height: 10vh;
    width: 10vh;
    margin: 0 auto;
  }

  h4 {
    font-size: 10px;
  }
}

.song-index-item:active {
  box-shadow: none;
  transform: translateY(3px);
}

.song-index-play {
  background: transparent;
  position: relative;
  top: -10vh;
  width: 10vh;
  height: 10vh;
  font-size: 2em;
  opacity: 0;
  color: $color5;
}

.song-index-play:hover {
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.7);
}
