.splash {
  background-image: url('http://res.cloudinary.com/davidhu2000/image/upload/v1484164795/splash_rl4wle.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  // filter: blur(3px) brightness(0.8);
}

.splash-display {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.jumbotron {
  height: 60%;
  width: 100%;
  text-align: center;
  // background: rgba(102, 102, 102, 0.2);

  h1 {
    display: block;
    font-size: 6em;
    text-shadow: 5px 5px 3px black;
    color: #FFFFFF;
  }

  .splash-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    :first-child {
      margin-right: 150px;
    }
    a {
      font-size: 2em;
      border: 2px solid black;
      padding: 20px 40px;
      border-radius: 20px;
      text-shadow: 2px 2px 2px black;
      box-shadow: 6px 6px 10px black;
      color: white;
      background: $aqua-blue-more-transparent;
      // background: rgba(80, 80, 80, 0.8);
    }

    a:hover {
      text-shadow: -2px -2px 2px gray;
      transform: skewX(2deg);
    }

    a:active {
      box-shadow: none;
      transform: translateY(10px);
    }
  }
}
